<!DOCTYPE html>
<html>
    <head>
        <title>Layouts</title>
        <link rel="stylesheet" type="text/css" href="styles.css"/>
    </head>
    <body>
        <header>
            <h1>A box of Chocolate!</h1>    
        </header>
        <main>
            <img id="choc" src="../images/chocolate.jpg" alt="chocolate"/>
            
            <p>Chocolate is a preparation of roasted and ground cacao seeds that is made in the form of a liquid, paste, or in a block,
               which may also be used as a flavoring ingredient in 
               other foods.</p>

            <p>Chocolate is one of the most popular food types and flavors in
            the world, and many foodstuffs involving chocolate exist, particularly desserts, including cakes, pudding, mousse, 
            chocolate brownies, and chocolate chip cookies. </p>
            <div class="types">
                <div class="type">
                    <h2>Milk</h2>
                    <p>Milk chocolate is sweet chocolate that also contains
                     milk powder or condensed milk.</p>
                </div>
                <div class="type">
                    <h2>White</h2>
                    <p>White chocolate, although similar in texture to that of milk and dark chocolate, does not contain any cocoa 
                    solids that impart a dark color.</p>
                </div>
                <div class="type">
                    <h2>Dark</h2>
                    <p>Dark chocolate is produced by adding fat and sugar to the cacao mixture.</p>
                </div>
            </div>
        </main>
        
    </body>
</html>